@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* Styling for Header Starts Here */

header {
  align-items: center;
  min-height: 3em;
  width: 70%;
  margin: auto;
}

header > a {
  flex: 0.25;
}

header > a > img {
  height: 2em;
}

header,
.nav-links {
  display: flex;
}

.nav-links {
  flex: 1;
  justify-content: space-around;
}

/* Styling for Header Ends Here */

/* Styling for Main section starts Here */

#items-count {
  width: 70%;
  margin: auto;
}

ul {
  list-style-type: none;
}

.list {
  min-height: 82vh;
  margin: 1em auto;
  
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  row-gap: 30px;
  width: 70%;
  flex-wrap: wrap;
}

.list-item {
  padding: 0.5em;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.list-item > img {
  height: 50px;
  width: 50px;
}

.list-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

.list-item > button {
  width: 100%;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

.list-item-head h4 {
  margin: 0;
}

.list-item-head i {
  margin-left: 10px;
  color: red;
}

.list-item-likes {
  text-align: end;
  padding: 0 0 0.5em 0;
}

.list-item > button:hover {
  background-color: rgb(250, 235, 215);
  font-weight: 700;
}

/* Styling for Main section ends Here */

/* popup styling starts */

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: rgba(122, 106, 106, 0.596);
  z-index: 1;
  overflow-y: auto;
}

.popup-content {
  text-align: center;
  background-color: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 600px;
  max-height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}

.popup-img {
  height: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.city-details {
  padding: 20px;
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px;
}

.comment-item {
  background-color: rgb(21, 83, 21);
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.comments-section {
  overflow-y: auto;
  text-align: left;
  width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Form styling */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid rgb(241, 238, 238)smoke;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
/* popup styling ends */

/* Footer styling starts here */

footer {
  background-color: rgb(241, 219, 189);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Footer styling ends here */

/* Wait Animations Starts Here */

/* KEYFRAMES */
@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-135deg);
  }

  75% {
    transform: rotate(-225deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}

/* GRID STYLING */

.spinner-box {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* X-ROTATING BOXES */

.configure-border-1 {
  width: 115px;
  height: 115px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fb5b53;
  animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
  width: 115px;
  height: 115px;
  padding: 3px;
  left: -115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 249, 220);
  transform: rotate(45deg);
  animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
}

/* Wait Animations Ends Here */
