@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Styling for Header Starts Here */

header {
  align-items: center;
  min-height: 3em;
  width: 70%;
  margin: auto;
}

header > a {
  flex: 0.25;
}

header > a > img {
  height: 2em;
}

header,
.nav-links {
  display: flex;
}

.nav-links {
  flex: 1;
  justify-content: space-around;
}

/* Styling for Header Ends Here */

/* Styling for Main section starts Here */

.list {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-item {
  padding: 0.5em;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}

.list-item > img {
  width: 100%;
  height: auto;
}

.list-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0;
}

.list-item-likes {
  text-align: end;
  padding: 0 0 0.5em 0;
}

.list-item > button {
  width: 100%;
  padding: 0.5em;
  border: none;
  cursor: pointer;
}

.list-item > button:hover {
  background-color: rgb(250, 235, 215);
  font-weight: 700;
}

/* Styling for Main section ends Here */

/* Footer styling starts here */

footer {
  background-color: rgb(241, 219, 189);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Footer styling ends here */
